@keyframes aLeftRotate {
  0% {
    height: var(--initial-height, 30px);
    visibility: visible;
  }

  50% {
    height: var(--final-height, 100%);
  }

  100% {
    height: var(--final-height, 100%);
    transform: translate(4px, 0) rotate(16deg);
  }
}

@keyframes aRightRotate {
  0% {
    height: var(--initial-height, 30px);
    visibility: visible;
  }

  50% {
    height: var(--final-height, 100%);
  }

  100% {
    height: var(--final-height, 100%);
    transform: translate(-4px, 0) rotate(-16deg);
  }
}

@keyframes tTopScale {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale3d(0.3, 0.3, 0.3);
    transform: translate(-50%, -50%) scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes heightGrow {
  50% {
    height: var(--initial-height, 30px);
  }

  100% {
    height: var(--final-height, 100%);
  }
}

@keyframes widthGrow {
  50% {
    width: var(--initial-width, 30px);
  }

  100% {
    width: var(--final-width, 100%);
  }
}

.flex-wrapper {
  @apply flex h-screen w-full flex-row items-center justify-center;
}

.wrapper {
  @apply flex flex-col place-content-center place-items-center;

  .name {
    @apply flex gap-4 px-[20px] pt-0 pb-[5px];
    transform-origin: center center;

    [class*='letter-'] {
      position: relative;
    }

    .letter-h {
      height: 90px;
      width: 65px;

      .h-left,
      .h-right,
      .h-center {
        transition: height var(--default-transition);
        animation-timing-function: var(--default-transition);
        animation-duration: 0.5s;
        animation-fill-mode: both;
      }

      .h-left,
      .h-right {
        position: absolute;
        height: 0;
        width: 30px;
        border-radius: 30px;
      }

      .h-center {
        position: absolute;
        background: radial-gradient(circle at 10px 10px, #ffffff, #9c9c9c);
        height: 30px;
        width: 30px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center;
        animation-name: zoomIn;
        animation-delay: 0.5s;
      }

      .h-left {
        top: 0;
        background-color: var(--name-primary-color-alpha-5);
        animation-name: heightGrow;
      }

      .h-right {
        background-color: var(--name-secondary-color);
        right: 0;
        bottom: 0;
        animation-name: heightGrow;
      }
    }

    .letter-i {
      height: 90px;
      width: 30px;

      .i-main {
        position: absolute;
        background-color: var(--name-primary-color-alpha-5);
        height: 0;
        width: 100%;
        border-radius: 30px;
        top: 0;
        animation-name: heightGrow;
        animation-delay: 0.25s;

        animation-timing-function: var(--default-transition);
        animation-duration: 0.5s;
        animation-fill-mode: both;
      }
    }

    .letter-m {
      position: relative;
      overflow: visible;
      height: 90px;
      width: 90px;

      div {
        position: absolute;
        width: 30px;
        height: 0;
        transform-origin: top;
        animation-duration: 0.5s;
        transition: all var(--default-transition);
        animation-timing-function: var(--default-transition);
        animation-name: heightGrow;
        animation-fill-mode: both;
        border-radius: 30px;

        &:nth-child(odd) {
          background-color: var(--name-secondary-color);
          top: 0;
          --init-dot-height: 0;
        }

        &:first-child {
          left: 0;
          border-top-right-radius: 0;
          animation-delay: 0.25s;
        }

        &:nth-child(2) {
          height: 0;
          --final-height: 65%;
          animation-delay: 0.3s;
          left: calc(100% / 3);
          background-color: var(--name-primary-color-alpha-5);
          border-top-right-radius: 0;
          border-top-left-radius: 0;
        }

        &:last-child {
          animation-delay: 0.35s;
          right: 0;
          border-top-left-radius: 0;
        }
      }
    }

    .letter-a,
    .letter-a-right {
      height: 90px;
      width: calc(60px + calc(30px / 2));

      .a-left,
      .a-right {
        position: absolute;
        top: 0%;
        width: 30px;
        height: 0;
        left: calc(50% - calc(30px / 2));
        transform-origin: top;
        animation-duration: 1s;
        animation-timing-function: var(--default-transition);
        animation-delay: 0.25s;
        animation-fill-mode: both;
        border-radius: 30px;
      }

      .a-left {
        background-color: var(--name-primary-color-alpha-5);
        backdrop-filter: blur(5px);
        z-index: 1;
        animation-name: aLeftRotate;
      }

      .a-right {
        background-color: var(--name-secondary-color);
        animation-name: aRightRotate;
      }
    }

    .letter-t {
      display: flex;
      place-content: center;
      place-items: center;
      height: 90px;
      width: 65px;

      .t-top,
      .t-middle {
        position: absolute;
        animation-timing-function: var(--default-transition);
        animation-duration: 0.5s;
        transform-origin: bottom;
        animation-fill-mode: both;
        border-radius: 30px;
      }

      .t-top {
        top: 0;
        width: 100%;
        height: 30px;
        background: var(--name-primary-color-alpha-5);
        backdrop-filter: blur(5px);
        z-index: 1;
        animation-name: tTopScale;
        animation-delay: 0.3s;
      }

      .t-middle {
        top: 0;
        width: 30px;
        height: 0;
        background-color: var(--name-secondary-color);
        animation-delay: 0.45s;
        animation-name: heightGrow;
      }
    }

    .letter-e {
      display: flex;
      flex-direction: column;
      height: 90px;
      width: 60px;

      .e1,
      .e2,
      .e3 {
        width: 0;
        height: 30px;

        animation-timing-function: var(--default-transition);
        animation-duration: 0.5s;
        transform-origin: bottom;
        animation-name: widthGrow;
        animation-fill-mode: both;
        border-radius: 0 30px 30px 0;
      }

      .e1,
      .e3 {
        background-color: var(--name-secondary-color);
      }

      .e1 {
        animation-delay: 0.25s;
        border-top-left-radius: 30px;
      }

      .e2 {
        --final-width: calc(100% - 15px);
        background-color: var(--name-primary-color-alpha-5);
        animation-delay: 0.35s;
      }

      .e3 {
        animation-delay: 0.45s;
        border-bottom-left-radius: 30px;
      }
    }

    .letter-j {
      height: 90px;
      width: 55px;

      .j-right,
      .j-bottom {
        animation-timing-function: var(--default-transition);
        animation-duration: 0.5s;
        transform-origin: bottom;
        animation-fill-mode: both;
        border-radius: 30px;
      }

      .j-bottom {
        position: absolute;
        border-top-right-radius: 0;
        bottom: 0;
        right: 0;
        width: 0;
        height: 30px;
        background: var(--name-primary-color-alpha-5);
        backdrop-filter: blur(5px);
        z-index: 1;
        animation-name: widthGrow;
        animation-delay: 0.35s;
      }

      .j-right {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 30px;
        height: 0;
        background-color: var(--name-secondary-color);
        animation-delay: 0.25s;
        animation-name: heightGrow;
      }
    }

    .letter-a-right {
      margin-right: 0;
      .a-left,
      .a-right {
        animation-delay: 0.35s;
      }
    }
  }

  .divider {
    position: relative;
    width: 100%;
    height: 1px;
    background: #fff;
    margin-top: 15px;
    transition: all var(--default-transition);
    animation-timing-function: var(--default-transition);
    animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-name: divider;
    animation-delay: 8.1s;

    .dot {
      content: '';
      width: 15px;
      height: 15px;
      position: absolute;
      background: #fff;
      top: 50%;

      animation-timing-function: var(--default-transition);
      transform: translate(-50%, -50%) rotate(45deg) scale(1);
      animation-fill-mode: both;
      animation-duration: 1s;
      animation-name: divider-dots;
      animation-delay: 7.1s;

      &:first-child {
        left: 0;
      }

      &:last-child {
        right: -15px;
      }
    }
  }

  .tagLine {
    font-family: 'Bungee Hairline', cursive;
    font-optical-sizing: auto;
    font-variation-settings: 'opsz' 40;
    font-size: 2rem;
    font-weight: 400;
    color: #e8eaed;
    letter-spacing: 0.5rem;
    margin-top: 0.5rem;
    font-style: normal;
    line-height: initial;
    perspective: 1000px;

    .individualLetter {
      display: inline-block;
      white-space: break-spaces;
      transform-origin: center;
      transform: scaleX(0);
      transform-style: preserve-3d;
      transition: all var(--default-transition);
      animation-timing-function: var(--default-transition);
    }
  }
}
