@keyframes aLeftRotate {
  0% {
    height: var(--initial-height, var(--size-x));
    visibility: visible;
  }

  50% {
    height: var(--final-height, 100%);
  }

  100% {
    height: var(--final-height, 100%);
    transform: translate(4px, 0) rotate(16deg);
  }
}

@keyframes aRightRotate {
  0% {
    height: var(--initial-height, var(--size-x));
    visibility: visible;
  }

  50% {
    height: var(--final-height, 100%);
  }

  100% {
    height: var(--final-height, 100%);
    transform: translate(-4px, 0) rotate(-16deg);
  }
}

@keyframes tTopScale {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale3d(0.3, 0.3, 0.3);
    transform: translate(-50%, -50%) scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes heightGrow {
  50% {
    height: var(--initial-height, var(--size-x));
  }

  100% {
    height: var(--final-height, 100%);
  }
}

@keyframes widthGrow {
  50% {
    width: var(--initial-width, var(--size-x));
  }

  100% {
    width: var(--final-width, 100%);
  }
}

.flex-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 600px) {
    height: 70vh;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: flex-start;
  gap: 2em;

  .hiMessage,
  .description {
    font-size: 2rem;
    font-weight: 400;
    color: var(--default-text-color);
  }

  .hiMessage .myNameMobile {
    @media screen and (min-width: 600px) {
      display: none;
    }
  }

  .name {
    --size-x: 30px;
    --size-y: 90px;
    display: flex;
    gap: 1rem;
    transform-origin: center center;

    [class*='letter-'] {
      position: relative;
    }

    .letter-h {
      height: var(--size-y);
      width: calc(var(--size-x) * 2 + 5px);

      .h-left,
      .h-right,
      .h-center {
        transition: height var(--default-transition);
        animation-timing-function: var(--default-transition);
        animation-duration: 0.5s;
        animation-fill-mode: both;
        backdrop-filter: blur(5px);
      }

      .h-left,
      .h-right {
        position: absolute;
        height: 0;
        width: var(--size-x);
        border-radius: var(--size-x);
      }

      .h-center {
        position: absolute;
        background: radial-gradient(circle at 10px 10px, #ffffff, #9c9c9c);
        height: var(--size-x);
        width: var(--size-x);
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center;
        animation-name: zoomIn;
        animation-delay: 0.5s;
      }

      .h-left {
        top: 0;
        background-color: var(--name-primary-color-alpha-5);
        animation-name: heightGrow;
      }

      .h-right {
        background-color: var(--name-secondary-color);
        right: 0;
        bottom: 0;
        animation-name: heightGrow;
      }
    }

    .letter-i {
      height: var(--size-y);
      width: var(--size-x);

      .i-main {
        position: absolute;
        background-color: var(--name-primary-color-alpha-5);
        backdrop-filter: blur(5px);
        height: 0;
        width: 100%;
        border-radius: var(--size-x);
        top: 0;
        animation-name: heightGrow;
        animation-delay: 0.25s;

        animation-timing-function: var(--default-transition);
        animation-duration: 0.5s;
        animation-fill-mode: both;
      }
    }

    .letter-m {
      position: relative;
      overflow: visible;
      height: var(--size-y);
      width: var(--size-y);

      div {
        position: absolute;
        width: var(--size-x);
        height: 0;
        border-radius: var(--size-x);
        transform-origin: top;
        animation-duration: 0.5s;
        transition: all var(--default-transition);
        animation-timing-function: var(--default-transition);
        animation-name: heightGrow;
        animation-fill-mode: both;

        &:nth-child(odd) {
          background-color: var(--name-secondary-color);
          top: 0;
          --init-dot-height: 0;
        }

        &:first-child {
          left: 0;
          border-top-right-radius: 0;
          animation-delay: 0.25s;
        }

        &:nth-child(2) {
          height: 0;
          --final-height: 65%;
          animation-delay: 0.3s;
          left: calc(100% / 3);
          background-color: var(--name-primary-color-alpha-5);
          backdrop-filter: blur(5px);
          border-top-right-radius: 0;
          border-top-left-radius: 0;
        }

        &:last-child {
          animation-delay: 0.35s;
          right: 0;
          border-top-left-radius: 0;
        }
      }
    }

    .letter-a,
    .letter-a-right {
      height: var(--size-y);
      width: calc(60px + calc(var(--size-x) / 2));

      .a-left,
      .a-right {
        position: absolute;
        top: 0%;
        width: var(--size-x);
        height: 0;
        border-radius: var(--size-x);
        left: calc(50% - calc(var(--size-x) / 2));
        transform-origin: top;
        animation-duration: 1s;
        animation-timing-function: var(--default-transition);
        animation-delay: 0.25s;
        animation-fill-mode: both;
      }

      .a-left {
        background-color: var(--name-primary-color-alpha-5);
        backdrop-filter: blur(5px);
        z-index: 1;
        animation-name: aLeftRotate;
      }

      .a-right {
        background-color: var(--name-secondary-color);
        animation-name: aRightRotate;
      }
    }

    .letter-t {
      display: flex;
      place-content: center;
      place-items: center;
      height: var(--size-y);
      width: calc(var(--size-x) * 2 + 5px);

      .t-top,
      .t-middle {
        position: absolute;
        animation-timing-function: var(--default-transition);
        animation-duration: 0.5s;
        transform-origin: bottom;
        animation-fill-mode: both;
        border-radius: var(--size-x);
      }

      .t-top {
        top: 0;
        width: 100%;
        height: var(--size-x);
        background: var(--name-primary-color-alpha-5);
        backdrop-filter: blur(5px);
        z-index: 1;
        animation-name: tTopScale;
        animation-delay: 0.3s;
      }

      .t-middle {
        top: 0;
        width: var(--size-x);
        height: 0;
        background-color: var(--name-secondary-color);
        animation-delay: 0.45s;
        animation-name: heightGrow;
      }
    }

    .letter-e {
      display: flex;
      flex-direction: column;
      height: 90px;
      width: 60px;

      .e1,
      .e2,
      .e3 {
        width: 0;
        height: var(--size-x);

        animation-timing-function: var(--default-transition);
        animation-duration: 0.5s;
        transform-origin: bottom;
        animation-name: widthGrow;
        animation-fill-mode: both;
        border-radius: 0 var(--size-x) var(--size-x) 0;
      }

      .e1,
      .e3 {
        background-color: var(--name-secondary-color);
      }

      .e1 {
        animation-delay: 0.25s;
        border-top-left-radius: var(--size-x);
      }

      .e2 {
        --final-width: calc(100% - var(--size-x) / 2);
        background-color: var(--name-primary-color-alpha-5);
        backdrop-filter: blur(5px);
        animation-delay: 0.35s;
      }

      .e3 {
        animation-delay: 0.45s;
        border-bottom-left-radius: var(--size-x);
      }
    }

    .letter-j {
      height: var(--size-y);
      width: 55px;

      .j-right,
      .j-bottom {
        animation-timing-function: var(--default-transition);
        animation-duration: 0.5s;
        transform-origin: bottom;
        animation-fill-mode: both;
        border-radius: var(--size-x);
      }

      .j-bottom {
        position: absolute;
        border-top-right-radius: 0;
        bottom: 0;
        right: 0;
        width: 0;
        height: var(--size-x);
        background: var(--name-primary-color-alpha-5);
        backdrop-filter: blur(5px);
        z-index: 1;
        animation-name: widthGrow;
        animation-delay: 0.35s;
      }

      .j-right {
        position: absolute;
        right: 0;
        bottom: 0;
        width: var(--size-x);
        height: 0;
        background-color: var(--name-secondary-color);
        animation-delay: 0.25s;
        animation-name: heightGrow;
      }
    }

    .letter-a-right {
      margin-right: 0;
      .a-left,
      .a-right {
        animation-delay: 0.35s;
      }
    }
  }

  .description {
    font-size: 1.8rem;
    line-height: 1.5;
    a {
      color: inherit;
      text-decoration: none;
      border-bottom: 3px solid #d4d4d461;

      &:hover {
        color: var(--default-link-color);
        border-bottom-color: var(--default-link-border);
      }
    }
  }

  @media screen and (max-width: 600px) {
    padding: 15rem 2rem 2rem 2rem;
    height: 100%;
    place-content: center space-between;

    .name {
      display: none;
    }

    .hiMessage {
      font-size: 3rem;
      line-height: 1.2;

      span:not(.myNameMobile) {
        display: none;
      }
    }

    .description {
      font-size: 1.2rem;
      line-height: 1.5;
      color: #929294;

      br {
        display: none;
      }
    }
  }
}
