@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
  }
}

.container {
  @apply flex flex-col gap-4;
}

.item {
  @apply flex flex-row gap-4 rounded-xl p-4 bg-[color:var(--color-link-card-background)] border-t border-solid border-t-[color:var(--color-link-card-border)] transition-colors hover:bg-[color:var(--color-stack-item-hover-background)];
  animation-name: animateIn;
  animation-duration: 100ms;
  animation-delay: calc(var(--delay, 0) * 30ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

/* .item:hover {
  background: var(--color-stack-item-hover-background);
} */

.image {
  @apply flex shrink-0;
}

.image img {
  @apply aspect-[1] h-fit rounded-[100%];
}

.info {
  @apply flex flex-col gap-1;
}

.title {
  @apply text-sm font-semibold;
  color: var(--color-stack-item-title);
}

.description {
  @apply text-[var(--default-text)] text-xs;
}

.externalLinkIndicator {
  @apply absolute top-0 right-0 w-4 h-4 m-2 text-base opacity-20 text-[color:var(--default-text)] transition-opacity;
}

.item:hover .externalLinkIndicator {
  @apply opacity-80;
}
