:root,
[data-theme='dark'] {
  --background: #0f0f0f;
  --text: #888888;

  --name-gradient: -webkit-linear-gradient(#cccccc, #717171);
  --name-dot-gradient: -webkit-linear-gradient(#0094ff, #00488a);
  --photo-filter: grayscale(1);

  /* bottom footer */
  --footer-background: rgba(51, 51, 51, 0.8);
  --footer-link-background: #434343;
  --footer-link-highlighted-background: #fff;
  --footer-link-highlighted-color: #1e1e1e;
  --footer-link-color: #9a9a9a;
  --footer-link-separator: rgba(255, 255, 255, 0.08);
}

[data-theme='light'] {
  --background: white;
  --text: #333333;

  --name-gradient: -webkit-linear-gradient(#353535, #6e6e6e);
  --name-dot-gradient: -webkit-linear-gradient(#006db1, #009eff);

  --photo-filter: none;

  /* bottom footer */
  --footer-background: rgba(255, 255, 255, 0.8);
  --footer-link-background: #f0f0f0;
  --footer-link-color: rgb(136, 136, 136);
  --footer-link-highlighted-background: #009eff;
  --footer-link-highlighted-color: #fafafa;
  --footer-link-separator: rgba(0, 0, 0, 0.08);
}
