@import '../../styles/mixins';

#themeSwitch {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  backdrop-filter: blur(10px);
  background-color: var(--nav-background);
  box-shadow: 0px 24px 48px 8px rgba(0, 0, 0, 0.1);
  border: 0;

  @media screen and (max-width: 480px) {
    width: 40px;
    height: 40px;
  }

  &:hover,
  &:focus {
    background-color: var(--nav-link-hover);
  }

  span.icon {
    &.darkThemeIcon,
    &.lightThemeIcon {
      position: absolute;
      width: 25px;
      height: 25px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      transition: 0.35s var(--default-transition);

      svg {
        fill: var(--nav-link);
      }
    }
  }
}

:global(body[data-theme='dark']) {
  :local(.icon) {
    &.darkThemeIcon {
      @include hide-transform;
    }
  }
}

:global(body[data-theme='light']) {
  :local(.icon) {
    &.lightThemeIcon {
      @include hide-transform;
    }
  }
}
