@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRightCentered {
  from {
    transform: translate(50%, -50%);
    visibility: visible;
  }

  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes mLeftSkew {
  0% {
    transform: translate(0, 100%);
    visibility: visible;
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0) skewX(14deg);
  }
}

@keyframes mRightSkew {
  0% {
    transform: translate(0, 100%);
    visibility: visible;
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0) skewX(-14deg);
  }
}

@keyframes aLeftSkew {
  0% {
    transform: translate(0, -100%);
    visibility: visible;
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0) skewX(-14deg);
  }
}

@keyframes aRightSkew {
  0% {
    transform: translate(0, -100%);
    visibility: visible;
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0) skewX(14deg);
  }
}

@keyframes tTopScale {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes divider {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes divider-dots {
  0% {
    transform: translate(-50%, -50%) rotate(0) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}
