:root {
  --body-gradient-line-1: hsla(196, 0%, 79%, 0.06);
  --body-gradient-line-2: hsla(196, 0%, 79%, 0.09);
  --body-main-gradient-start: var(--white);
  --body-main-gradient-end: var(--white);
  --name-primary-color: rgba(189, 220, 244);
  --name-primary-color-alpha-5: rgba(189, 220, 244, 0.5);
  --name-secondary-color: var(--purple-100);
  --default-transition: cubic-bezier(1, -0.5, 0, 1.5);
  --footer-gradient: linear-gradient(var(--purple-300), var(--purple-400));
  --default-text-color: var(--gray-100);
  --default-link-color: var(--purple-200);
  --default-link-border: var(--purple-100);
  --avatar-tooltip-background: #c5e5ffb8;
  --nav-background: rgba(255, 255, 255, 0.5);
  --nav-link: var(--gray-100);
  --nav-link-hover: rgba(189, 220, 244, 0.2);
  --nav-link-active: rgba(197, 229, 255, 0.75);
  --nav-link-active-text: var(--nav-link);
  --default-heading-color: var(--dark-gray-100);
  --default-paragraph-color: var(--gray-200);
  --default-paragraph-hover-color: var(--gray-300);
  --tag-hover-background: var(--light-gray-100);
  --tag-color: var(--default-paragraph-color);
  --tag-font-weight: normal;
  --tag-border: var(--light-gray-300);
  --color-bg-overlay: rgb(20 21 19);
  --project-item-background: var(--light-gray-200);
  --project-item-shadow: var(--light-gray-300);
  --contact-background: var(--white);
  --contact-background-hover: var(--light-gray-400);
  --contact-shadow: var(--light-gray-300);
  --contact-after-shadow: 0 0 0 1px var(--contact-shadow), 0px 0px 10px 5px var(--contact-shadow);
  --contact-after-background: var(--contact-background);
}

/* Dark theme */
[data-theme='dark'] {
  --body-gradient-line-1: hsla(0, 0%, 100%, 0.01);
  --body-gradient-line-2: hsla(0, 0%, 100%, 0.02);
  --body-main-gradient-start: var(--purple-500);
  --body-main-gradient-end: var(--black);
  --default-text-color: var(--gray-400);
  --avatar-tooltip-background: var(--white);
  --default-link-color: var(--white);
  --default-link-border: var(--white);
  --nav-background: var(--transparent-purple);
  --nav-link: var(--white);
  --nav-link-hover: rgba(120, 120, 120, 0.2);
  --nav-link-active: var(--white);
  --nav-link-active-text: var(--black);
  --footer-gradient: linear-gradient(var(--purple-500), var(--black));
  --default-heading-color: var(--light-gray-100);
  --default-paragraph-color: var(--gray-500);
  --default-paragraph-hover-color: var(--gray-600);
  --tag-hover-background: var(--dark-gray-200);
  --tag-color: var(--default-paragraph-color);
  --tag-font-weight: 500;
  --tag-border: var(--dark-gray-300);
  --color-bg-overlay: rgb(20 21 19);
  --project-item-background: var(--transparent-black);
  --project-item-shadow: var(--dark-gray-400);
  --contact-background: transparent;
  --contact-background-hover: var(--dark-gray-500);
  --contact-shadow: var(--dark-gray-400);
  --contact-after-background: var(--dark-gray-600);
  --contact-after-shadow: 0 0 0 1px var(--contact-shadow);
}
