@import '@v3/styles/mixins';

.wrapper {
  position: relative;
  display: flex;
  flex: 1;
  place-content: center;

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    background: var(--project-item-background);
    box-shadow:
      inset 0px 1px 0 0 var(--project-item-shadow),
      inset 0px -1px 0 0 var(--project-item-shadow);
  }

  .project {
    display: flex;
    flex-flow: row nowrap;
    place-content: center;
    place-items: center;
    gap: 1rem;
    flex: 1;
    max-width: 50rem;
    padding: 1rem 0;

    .logo {
      display: flex;
    }

    .content {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.75rem;

      .title {
        color: var(--default-text-color);
      }

      .tags {
        color: var(--tag-color);
        font-size: 0.8rem;
      }
    }

    .links {
      display: flex;
      gap: 1rem;
      margin-left: auto;

      a {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        text-decoration: none;
        place-content: center;
        place-items: center;
        padding: 0.5rem 1rem;
        background: transparent;
        font-size: 0.9rem;
        font-weight: var(--tag-font-weight);
        border-radius: 5rem;
        color: var(--tag-color);
        box-shadow: 0 0 0 1px var(--tag-border);

        &:hover,
        &:focus {
          outline: none;
          background: var(--tag-hover-background);
        }

        svg {
          width: 16px;
          height: 16px;
          fill: currentColor;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin: 0 -1rem;
    border-radius: 10px;

    &:hover,
    &:focus {
      outline: none;
      box-shadow: inset 0px 0px 0 1px #dbdbdb;
    }

    .project {
      flex-flow: column nowrap;
      place-content: center;
      place-items: flex-start;
      padding: 1rem;

      .links {
        margin-left: unset;
      }
    }
  }
}
