@import '@v3/styles/mixins';

.contact {
  position: relative;
  display: flex;
  flex-direction: row;
  background: var(--contact-background);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  box-shadow: 0 0 0 1px var(--contact-shadow);
  overflow: hidden;

  @media screen and (min-width: 769px) {
    &::after {
      content: 'or';
      @include absolute-center;
      display: flex;
      width: 30px;
      height: 30px;
      background: var(--contact-after-background);
      place-content: center;
      place-items: center;
      border-radius: 50%;
      font-size: 0.8rem;
      letter-spacing: 0.05rem;
      box-shadow: var(--contact-after-shadow);
      color: var(--default-paragraph-color);
    }
  }

  .contactItem {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    text-decoration: none;

    &:first-child {
      box-shadow: inset -1px 0 0 var(--contact-shadow);
    }

    &:hover,
    &:focus {
      outline: none;
      background: var(--contact-background-hover);
    }

    span {
      &:first-child {
        font-size: 1.2rem;
        color: #8743ff;
        font-weight: 600;
      }

      &:last-child {
        font-size: 0.9rem;
        color: var(--default-paragraph-color);
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    backdrop-filter: none;

    .contactItem {
      padding: 1rem 0;

      &:hover {
        background: none;
      }

      &:first-child {
        box-shadow: none;
      }
    }
  }
}
