.container {
  line-height: 0.75;
}

.heading,
.subHeading {
  position: relative;
  font-family: var(--pixel-font-family);
  color: #fff;
  font-size: 5rem;
  letter-spacing: 1px;
  background: var(--name-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading::after {
  content: '.';
  position: absolute;
  background: var(--name-dot-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subHeading {
  display: flex;
  gap: 0.5rem;
  font-size: 2.5rem;

  span:not(:last-child)::after {
    content: '·';
    margin-left: 0.5rem;
    background: var(--name-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
