@keyframes loadAnimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 20px;
  width: 100%;
  margin: 10rem auto 5rem;
  animation: loadAnimation 1s var(--default-transition);

  .heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 2.5rem 0;
    max-width: 50rem;

    h1 {
      color: var(--default-heading-color);
      font-size: 1.5rem;
      font-weight: 500;
    }

    span {
      font-size: 1rem;
      color: #727272;
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }

  @media screen and (max-width: 480px) {
    margin-top: 6rem !important;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 8rem auto 2.5rem;
    padding: 0 2rem;
    .content {
      max-width: 100%;
    }
  }
}
