.container {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1440px;
  margin: 10rem auto 5rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 40rem;

    .heading {
      font-size: 1.5rem;
      font-weight: 500;
      color: rgb(28, 29, 32);
    }
  }
}
