@import '@globals/styles/mixins';

#themeSwitch {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 40px;
  height: 40px;
  align-items: center;
  text-decoration: none;
  background-color: unset;
  color: var(--footer-link-color);
  border-radius: 50px;
  border: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    background: var(--footer-link-background);
  }

  span.icon {
    &.darkThemeIcon,
    &.lightThemeIcon {
      position: absolute;
      width: 24px;
      height: 24px;
      transform-origin: center center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
  }
}

:global(body[data-theme='dark']) {
  :local(.icon) {
    &.darkThemeIcon {
      @include hide-transform;
    }
  }
}

:global(body[data-theme='light']) {
  :local(.icon) {
    &.lightThemeIcon {
      @include hide-transform;
    }
  }
}
