.heading {
  @apply relative text-[2.5rem] tracking-[1px] text-white after:absolute after:content-['.'] leading-none;
  font-family: var(--pixel-font-family);
  background: var(--name-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading::after {
  background: var(--name-dot-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
