.container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  .contactMeOn,
  .emailSection,
  .calendly,
  .links .link {
    padding: 1rem;
    background: #1a1a1a;
    border-top: 1px solid #292929;
    border-radius: 10px;
  }

  .contactLinks {
    display: flex;
    gap: 0.75rem;

    .contactMeOn {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 0.5rem;

      .avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: url('/images/headshot/latest.png');
        background-size: contain;
        filter: var(--photo-filter);
      }

      span {
        font-size: 1.25rem;
        color: var(--text);
        line-height: 1.3;
      }
    }

    .links {
      flex: 3;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      .calendly {
        flex: 1;
        display: flex;
        gap: 0.75rem;
        flex-direction: column;
        text-decoration: none;
        place-content: center;
        color: var(--text);

        span {
          font-size: 1.2rem;
          &:last-child {
            color: #fff;
            font-size: 1.5rem;
          }
        }

        &:hover {
          background-color: #006bff;
          span:first-child {
            color: #fff;
          }
        }
      }

      .social {
        flex: 1;
        display: flex;
        gap: 0.75rem;
        flex-direction: row;

        .link {
          flex: 1;
          display: flex;
          place-content: center;
          place-items: center;
          color: #fff;

          svg {
            width: 30px;
            height: 30px;
          }

          &:hover {
            &.linkedin {
              background-color: #2466c2;
            }

            &.github {
              background-color: #333;
            }

            &.twitter {
              background-color: #1da1f2;
            }

            &.codepen {
              background-color: #000;
            }
          }
        }
      }
    }
  }

  .emailSection {
    display: flex;
    place-content: center;
    place-items: center;

    span {
      font-size: 1rem;
      color: var(--text);
    }

    .emailAddressButton {
      position: relative;
      display: flex;
      margin-left: auto;
      gap: 0.5rem;
      place-content: center;
      place-items: center;
      background: #772af4;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      overflow: hidden;
      transition: all 0.2s ease-in-out;

      .emailId {
        font-size: 1rem;
        text-decoration: none;
        color: #fff;
      }

      .copyEmailButton {
        display: flex;
        border: 0;
        background-color: transparent;
        padding: 0 0.5rem;
        position: absolute;
        height: 100%;
        place-content: center;
        place-items: center;
        color: #fff;
        right: -100%;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        svg {
          width: 15px;
          height: 15px;
        }

        &:hover:not([data-tooltipped]) {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }

      &:hover {
        padding-right: 2.3rem;
        background-color: #333333;
        .copyEmailButton {
          right: 0;
        }
      }
    }
  }
}
