.container {
  @apply flex place-content-between place-items-center;
}

.heading {
  font-family: var(--pixel-font-family);
  @apply text-4xl leading-none tracking-[0.063rem] font-medium text-[color:var(--heading)] after:absolute after:content-['.'];
  background: var(--name-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading::after {
  background: var(--name-dot-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link {
  @apply flex flex-row gap-1 place-items-center font-medium text-base text-[color:var(--text)] no-underline transition-all duration-[0.2s] ease-[ease-in-out] hover:text-[color:var(--heading-link-hover)];
}

.link svg {
  @apply h-3 w-3;
}
